<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="/javascripts/application.js"></script>
</head>
<body>
  {{> header}}
  {{{body}}}
</body>

</html>