<form action="/users/signin" method="POST">
  {{#if errorInput}}
          <div class="blok_login">
              <h1 class="header_login">Sign in</h1>
              <div class="input_login">

                  <div><input class="signin" name="login" placeholder="Login"></div>
                  <div><input class="signin" type="password" name="password" placeholder="password"></div>
                  <div class="login-button">

                      <div><button class="c-black">Отправить</button></div>
                  </div>
              </div>
          </div>
      </form>

    {{else}}

          <div class="blok_login">
              <h1 class="header_login">Sign in</h1>
              <div class="input_login">

                  <div><input class="signin" name="login" placeholder="Login"></div>
                  <div><input class="signin" type="password" name="password" placeholder="password"></div>
                  <div class="login-button">

                      <div><button class="c-black">Отправить</button></div>
                  </div>
              </div>
          </div>
      </form>
  {{/if}}

</form>